[Unit]
Description=ElCheapoAIS parser service
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/bin/elcheapoais-config.sh
KillMode=process

[Install]
WantedBy=multi-user.target
