[Unit]
Description=ElCheapoAIS parser service
After=multi-user.target

[Service]
Type=simple
Environment="PYTHONUNBUFFERED=True"
Restart=always
ExecStart=/usr/bin/env elcheapoais-parser
KillMode=process

[Install]
WantedBy=multi-user.target
