[Unit]
Description=ElCheapoAIS parser service
After=multi-user.target

[Service]
Type=simple
Environment="PYTHONUNBUFFERED=True";5A;5A
ExecStart=/usr/bin/env elcheapoais-config

KillMode=process

[Install]
WantedBy=multi-user.target
