[Unit]
Description=ElCheapoAIS config service
After=multi-user.target

[Service]
Type=simple
Environment="PYTHONUNBUFFERED=True"
Restart=always
ExecStart=/usr/bin/env elcheapoais-config /etc/elcheapoais/config.json

KillMode=process

[Install]
WantedBy=multi-user.target
