[Unit]
Description=ElCheapoAIS downsampler service
After=multi-user.target

[Service]
Type=simple
Environment="PYTHONUNBUFFERED=True"
ExecStart=/usr/bin/env elcheapoais-downsampler
KillMode=process

[Install]
WantedBy=multi-user.target
